@charset "UTF-8";

/* 외장화된 스타일 시트(외부 스타일시트) */

h1{
    color: blueviolet;
    font-family: Verdana, sans-serif; /* font 지정(여러개 지정 가능) */
    font-size: 300%; /* 글자크기 300% 일반적으로 웹브라우저의 기준 폰트 사이즈는 16px의 300% =  48px */
}
p{
    color: red;
    font-family: courier;
    font: 150%;
    border: 2px solid powderblue; /* border: 크기 점선/실선 색상 */
}

/* 온라인 프로필 스타일시트 */
section{
    width: 500px; /* 넓이 */
    padding : 15px; /* 컨텐트와 보더사이 여백 */
    border: 5px solid gray;
}

/* 자식 선택자 - section 자식 중에서 p태그인 요소들만 적용하겠다.*/
section > p{
    color: blue;
}